.card *{
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.card .row{
    transform: translate(0px);
    opacity: 1;
}

.card .thumbnail{
    opacity: 1;
}

.card.hidden .row,
.card.hidden .thumbnail{
    opacity: 0;
}

.card.hidden.overlay-left .row{
    transform: translate(-100px);
}

.card.hidden.overlay-right .row{
    transform: translate(100px);
}

.accent-container > div{
    animation: accent-line 10s infinite ease-in-out;
}

@keyframes accent-line {
    0% {
        top: 0;
        height: 0%;
    }

    20%,
    50% {
        top: 0;
        height: 100%;
    }

    70%,
    100% {
        top: 100%;
        height: 0%;
    }

}