@import url("./animations.css");

:root {
    --image-size: 120px;
    --accent-size: 5px;
    --accent-color-primary: #1f468f;
    --accent-color-secondary: #1ab61a;
    --font-size: 30px;
    --font-color: #ffffff;
    --shadow-radius: 10px;
    --shadow-color: #00000099;
}

body{
    display: flex;
    margin: 0;
    background: transparent;
}

.container{
    flex: 1;
    width: 100vw;
    padding: var(--shadow-radius);
}

.overlay{
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    gap: 0 100px;
    width: 100%;
}

.card{
    display: grid;
    --thumbnail-area-width: var(--image-size);
    grid-template-rows: var(--image-size);
    gap: 0 3ch;
    width: 100%;
}

.card.accent-line{
    --thumbnail-area-width: var(--accent-size);
}

.card.overlay-left{
    grid-template-columns: var(--thumbnail-area-width) minmax(0, 1fr);
}

.card.overlay-right{
    grid-template-columns: minmax(0, 1fr) var(--thumbnail-area-width);
}

.card:not(.accent-line) .thumbnail>.accent-container{
    display: none;
}

.card.accent-line .thumbnail>img{
    display: none;
}

.accent-container{
    position: relative;
    background: var(--accent-color-primary);
    width: var(--accent-size);
    height: 100%;
    box-shadow: 0 0 var(--shadow-radius) var(--shadow-color);
    border-radius: 5px;
    overflow: hidden;
}

.accent-container > div{
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--accent-color-secondary);
    z-index: 1;
}

.overlay-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden visible;
    gap: 0;
}

.overlay-left>.overlay-body{
    margin-inline-start: calc(var(--shadow-radius) * -1);
    padding-inline-end: calc(var(--shadow-radius) * 2);
}

.overlay-right>.overlay-body{
    text-align: end;
    align-items: end;
    margin-inline-end: calc(var(--shadow-radius) * -1);
    padding-inline-start: calc(var(--shadow-radius) * 2);
}

img{
    display: block;
    aspect-ratio: 1;
    box-shadow: 0 0 var(--shadow-radius) var(--shadow-color);
    border-radius: 5px;
}

.row {
    font-family: "Asap", system-ui;
    font-size: var(--font-size);
    color: var(--font-color);
    padding: calc(var(--shadow-radius) * 0.5) var(--shadow-radius);
    overflow: hidden visible;
    text-shadow: 0 0 var(--shadow-radius) var(--shadow-color);
    min-width: 0;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    line-height: 1;
    width: 100%;
}

.row-1 {
    font-weight: 700;
}

.row-3 {
    font-size: calc(var(--font-size) * 0.8);
}

@font-face {
    font-family: "Asap";
    src: url("./fonts/asap/Asap-Medium.ttf");
    font-weight: 400;
}